pwa.m2:443 {
    root /srv
    gzip
    tls self_signed

    rewrite {
        to {path} {path}/ /
    }

    proxy /graphql http://api {
        transparent
    }
}

shop.pwa.m2:443 {
    proxy / http://entry {
        transparent
    }
    tls self_signed
}
