.newsletter-join {
    background-color: $mercury;
}

.newsletter-join__form {
    max-width: 450px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;

    label {
        font-weight: normal;
    }

    .input-combined {
        margin: 0 0 10px 0;
    }

    @include media-query (min, $lap-start) {
        padding: 100px 0;
    }
}

.newsletter-join__image {
    max-width: 120px;
}

.newsletter-join__desc {
    margin: 0 0 20px 0;
}