.quote {
    background-color: $red;
}

.quote__container {
    padding-top: ($base-spacing * 2);
    padding-bottom: ($base-spacing * 2);

    @include media-query(min, $lap-start) {
        padding-top: ($base-spacing * 3);
        padding-bottom: ($base-spacing * 3);
    }

    @include media-query (min, $desk-start) {
        background: url("../img/quote-bg-lrg.png") no-repeat center right;
        background-size: contain;
    }
}

.quote__quote {
    position: relative;
    display: block;
    padding-left: ($base-spacing * 3);
    padding-right: ($base-spacing * 3);
    padding-bottom: $base-spacing;
    margin-bottom: 0;
    color: $white;
    font-weight: normal;
    line-height: 1.5;

    @include media-query(min, $wide-start) {
        max-width: 70%;
    }

    &:before {
        content: '';
        display: block;
        height: ($base-spacing * 2);
        width: ($base-spacing * 2);
        position: absolute;
        left: 0;
        top: 0;
        background: url("../img/quote-open.png") no-repeat;
        background-size: contain;
        line-height: 1;
        vertical-align: baseline;
        @include font-size(150px);
    }

    &:after {
        content: '';
        display: block;
        height: ($base-spacing * 2);
        width: ($base-spacing * 2);
        position: absolute;
        right: 0;
        bottom: 0;
        background: url("../img/quote-close.png") no-repeat;
        background-size: contain;
        line-height: 1;
        vertical-align: baseline;
        @include font-size(150px);
    }

}

.quote__meta {
    color: $white;
    padding-left: ($base-spacing * 3);
}
