@import url("//hello.myfonts.net/count/347adf");

@font-face {
    font-family: 'Rutan';
    src: url('../fonts/347ADF_0_0.eot');
    src: url('../fonts/347ADF_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/347ADF_0_0.woff2') format('woff2'),
    url('../fonts/347ADF_0_0.woff') format('woff'),
    url('../fonts/347ADF_0_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rutan';
    src: url('../fonts/347ADF_1_0.eot');
    src: url('../fonts/347ADF_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/347ADF_1_0.woff2') format('woff2'),
    url('../fonts/347ADF_1_0.woff') format('woff'),
    url('../fonts/347ADF_1_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat";
    src:url("../fonts/lineto-akkurat-bold.eot");
    src:url("../fonts/lineto-akkurat-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lineto-akkurat-bold.woff2") format("woff2"),
    url("../fonts/lineto-akkurat-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat";
    src:url("../fonts/lineto-akkurat-regular.eot");
    src:url("../fonts/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lineto-akkurat-regular.woff2") format("woff2"),
    url("../fonts/lineto-akkurat-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
