//===============================================
// Site Footer
//===============================================

.site-footer {
    background-color: $purple;
    padding-top: 0;
    padding-bottom: 0;



}

.site-footer__container {
    position: relative;
    padding: $base-spacing $base-spacing;

}

.site-footer__triangle-1 {
    display: none;


}

.site-footer__triangle-2 {
    display: none;


}

//Navigation section
.site-footer__links {
    display: flex;
    margin-bottom: $base-spacing;
    padding-bottom: $base-spacing;
    border-bottom: 1px solid $purple-dk;
    color: $purple-lt;



}

.site-footer__nav {
    width: auto;
    list-style: none;
    margin: 0 ($base-spacing * 2) 0 0;

    &:last-child {
        margin-right: 0;
    }

    li {
        margin-bottom: $half-spacing;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: $white;
        white-space: nowrap;

        .hasMouse & {
            color: $purple-lt;

            &:hover, &:focus {
                color: $white;
            }
        }
    }
}

//Newsletter section
.site-footer__newsletter {
    margin-bottom: $base-spacing;
    padding-bottom: $base-spacing;
    border-bottom: 1px solid $purple-dk;




}

.site-footer__newsletter-copy {
    margin-bottom: $base-spacing;
    color: $purple-lt;
    font-weight: normal;

    strong {
        color: $white;
    }
}

.site-footer__newsletter-form {
    input {
        border-color: $white;
    }
}

.site-footer__newsletter-recaptcha {
    font-size: 12px;
    color: $purple-lt;
    margin: 10px 0 0 0;

    img {
        width: 16px;
        margin: 0 6px 0 0;
        vertical-align: middle;
    }
}

//Contact section
.site-footer__contact {


}

.site-footer__contact-link {
    display: block;
    width: 100%;
    color: $white;
}

.copyright {
    padding: $half-spacing 0;
    color: $white;
    background-color: $purple-dk;



    p {
        margin-bottom: 0;
    }
}

.grecaptcha-badge {
    left: -500px !important;
}
