//===============================================
// Site Header
//===============================================

.site-header {
    position: relative;
    //padding: $half-spacing 0;
    z-index: 4;
    background: $purple-dk;

    @include media-query(min, $lap-start) {
        padding: 0 0;
    }
}

.site-header__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    width: 100%;
    padding: $half-spacing;

    max-width: $page-width;
    margin-left: auto;
    margin-right: auto;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
    }
}

@mixin header-icon {
    height: 45px;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: $base-radius;

    &:hover,
    &:focus {
        color: $white;
        border-color: $white;
        background-color: transparent;
    }

    &:active {
        background-color: $purple;
    }
}

.site-header__menu {
    @include header-icon;
    width: 45px;
    .svg-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 1.2em;
        height: 1.2em;
    }

    @include media-query(min, $lap-start) {
        display: none;
    }
}

.site-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.site-header__logo__svg {
    width: 45px;
    height: 50px;
    color: $white;
}

.site-header__logo__label {
    position: absolute;
    bottom: 0;
    left: $base-spacing*2;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    @include font-size(10px);
    letter-spacing: 1px;
}

.site-header__cart {
    color: $white;
    @include header-icon;
    display: flex;
    align-items: center;
    padding: 0 $half-spacing;

    .svg-icon {
        width: 1.2em;
        height: 1.2em;
    }

    @include media-query(min, $lap-start) {
        margin-left: auto;
    }
}

.site-header__cart__svg {
    .button--icon & {
        width: 1.4em;
        height: 1.4em;
    }
}
.site-header__cart__label {
    @include font-size(10px);
    display: inline-block;
    padding-left: $half-spacing/2;
}
