.negative-margin {
    margin-top: -$base-spacing;

    @include media-query (min, $lap-start) {
        margin-top: -($base-spacing * 2);
    }

    @include media-query (min, $desk-start) {
        margin-top: -($base-spacing * 3);
    }
}